body{
    background-image: url("images/abc.jpg");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}body{
    margin: auto 0;


}
#para{
    margin-top: 0em;
    background-color: orangered;
    text-align: center;
    font-size: 4em;
    font-style: italic;
    font-variant: small-caps;
}